.form-container {
    max-width: 500px; /* Ajusta el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  }


 /* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e0dcdc; /* Fondo general de la página */
  }
  
  /* Navbar */
  .navbar {
    width: 100%; /* Ajusta el ancho según sea necesario */
    max-width: 1200px; /* Opcional: Establece un ancho máximo */
    margin: auto; /* Centra la barra de navegación */
    background-color: #181818; /* Color de fondo de la barra de navegación */
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #ffffff; /* Color del texto de los enlaces de navegación */
  }
  
  .navbar-light .navbar-brand {
    color: rgb(255, 255, 255); /* Color del texto del logo */
  }
  
  /* Carousel */
  .carousel-item img {
    height: 400px; /* Altura fija para las imágenes del carrusel */
    object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsionar */
  }
  
  /* Cards */
  .card {
    border: none; /* Sin borde para las tarjetas */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: transform 0.3s ease; /* Transición suave para el efecto hover */
  }
  
  .card:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
  }
  
  .card-img-top {
    border-top-left-radius: 8px; /* Bordes redondeados en la parte superior */
    border-top-right-radius: 8px; /* Bordes redondeados en la parte superior */
  }
  
  /* Formulario */
  .form-container {
    background-color: #ffffff; /* Fondo blanco para el contenedor del formulario */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  .form-container h2 {
    color: #343a40; /* Color del texto del encabezado del formulario */
  }
  
  .form-control {
    border-color: #ced4da; /* Color del borde de los campos de formulario */
  }
  
  .form-control:focus {
    border-color: #495057; /* Color del borde al enfocar los campos del formulario */
    box-shadow: none; /* Sin sombra al enfocar los campos del formulario */
  }
  
  .btn-primary {
    background-color: #007bff; /* Color de fondo del botón */
    border-color: #007bff; /* Color del borde del botón */
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
    border-color: #004085; /* Color del borde del botón al pasar el mouse */
  }
  
  /* Footer */
  .footer {
    background-color: #343a40; /* Color de fondo del pie de página */
    color: #ffffff; /* Color del texto del pie de página */
    padding: 10px 0;
    text-align: center;
  }
  